<h2>Simple Release Notes</h2>

<%= form_tag gerar_release_path, method: :get do %>

	<table>
		
		<tr> 
			<td><p><%=label(:version_id,'Selecione uma versão:') %></p></td>
			<td><%= select_tag(:version_id, options_for_select(@tag_versions), :prompt => "")%></td>
		</tr>

		<tr>
			<td><%=label(:product, 'Informe o nome do produto:') %></td>
			<td><%= text_field_tag(:product,nil,maxlength:20) %></td>
		</tr>
			
		<tr>
			<td><%=label(:environment,'Informe o ambiente:') %></td>
			<td><%= text_field_tag(:environment,nil,maxlength:20) %></td>
		</tr>

	</table>
	<br/>

	<%= button_to "Gerar Release", nil %>
<% end %>


